name: deploy web on github-page
on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    name: Build and deploy web example
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - run: flutter pub get
      - name: Build example web app
        run: |
          dart compile js ./web/e2ee.worker.dart -o ./example/web/e2ee.worker.dart.js
          cd example
          flutter build web --release --base-href /client-sdk-flutter/
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./example/build/web
